* {
  padding: 0;
  margin: 0;
}
header {
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px rgb(19, 104, 33);
}

header .logo {
  width: 200px;
  display: flex;
  align-items: center;
}

header .logo img {
  padding: 5px 10px;
  max-width: 100%;
  max-height: 50px;
}

header .nav {
  display: flex;
  gap: 10px;
}

header .nav .link {
  padding: 5px;
  background: wheat;
  display: flex;
  align-items: center;
  cursor: pointer;
}

header .nav .link:hover {
  transition: linear .5s;
  background: rgb(255, 255, 255);
}

/* CUERPO */
section.body {
  padding: 10px 20px;
  padding-bottom: 3rem;
}
section.body .info {
  background: lightgray;
  display: flex;
}
section.body .info .desc {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  padding: 1.5rem;
}

section.body .info img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
section.body p {
  margin: 10px 0;
}

.whatsapp {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
}

.whatsapp-icon {
  margin-top:13px;
}